{{>licenseInfo}}

package {{package}};

import {{invokerPackage}}.ApiException;
{{#imports}}import {{import}};
{{/imports}}
{{#operations}}{{#operation}}{{#vendorExtensions.x-collapse-params}}
import {{modelPackage}}.{{{.}}};{{/vendorExtensions.x-collapse-params}}{{/operation}}{{/operations}}

import org.junit.Test;
import org.junit.Ignore;

{{^fullJavaUtil}}
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
{{/fullJavaUtil}}

/**
 * API tests for {{classname}}
 */
@Ignore
public class {{classname}}Test {

    private final {{classname}} api = new {{classname}}();

    {{#operations}}{{#operation}}
    /**
     * {{summary}}
     *
     * {{notes}}
     *
     * @throws ApiException
     *          if the Api call fails
     */
    @Test
    public void {{operationId}}Test() throws ApiException {
        {{#vendorExtensions.x-collapse-params}}{{{.}}} params = null;{{/vendorExtensions.x-collapse-params}}
        {{^vendorExtensions.x-collapse-params}}{{#allParams}}
            {{{dataType}}} {{paramName}} = null;
        {{/allParams}}{{/vendorExtensions.x-collapse-params}}

        {{#returnType}}{{{returnType}}} response = {{/returnType}}api.{{operationId}}({{#vendorExtensions.x-collapse-params}}params{{/vendorExtensions.x-collapse-params}}{{^vendorExtensions.x-collapse-params}}{{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}{{/vendorExtensions.x-collapse-params}});

        // TODO: test validations
    }
    {{/operation}}{{/operations}}
}
